<template name="diningItem">

  <div class="list-group">
    <br>
    <a href="{{pathFor 'diningItemPage'}}" class="list-group-item list-group-item-success">

      {{name}}
     
    </a>

  
  </div>
  
 <!--
  <div class="school">
      <div class="rating-content">
         <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
         <img src="{{image}}" alt="SEH Hall" style="width:200px; height: 128px"/>
      </div>

      <a href="{{pathFor 'schoolItemPage'}}" class="discuss btn btn-default">Discuss</a>

   </div>
  -->
</template>