<template name="home">
 <div class="home-page">
 <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">

              <nav>
                <ul class="nav masthead-nav">

                </ul>
              </nav>
            </div>
          </div>
          <br><br><br><br><br><br><br>
          <div class="inner cover">
            <p class="lead" style="color:yellow">A Platform to Offer More Ways to Share Your Life</p>
            <p class="lead">


              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              More Information
              </button>

              <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Welcome to ourLife</h4>
                      </div>
                      <div class="modal-body">
                        Do you have a favorite place on campus you want to share with a friend? Have somewhere to recommend to a friend? Create an account now, and start sharing those experiences and ultimately, your life.

                        <br><br>

                        You will earn points for ratings that you post and more if you share or recommend locations to a friend. Be the first to become the master rater on campus!


                      </div>
                      <div class="modal-footer">

                      </div>
                    </div>
                  </div>
                </div>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <br><br><br><br><br><br><br><br><br><br><br>
              <p style="color:yellow">It's not just about us and it's not just about you. This is ourLife.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
</div>


</template>
