<template name="home">
 <div class="home-page">
 <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ourLife</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <br><br><br><br>
          <div class="inner cover">
            <h1 class="cover-heading">ourLife</h1>
            <p class="lead">A Platform to Offer More Ways to Share Your Life</p>
            <p class="lead">
             

              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
              Login/Register
              </button>

              <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Welcome to ourLife</h4>
                      </div>
                      <div class="modal-body">
                      </div>
                      <div class="modal-footer">
                        
                      </div>
                    </div>
                  </div>
                </div>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <br><br><br><br><br><br><br><br><br><br><br>
              <p>It's not just about us and it's not just about you. This is ourLife.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
</div>


</template>