<template name="rateHousingForm">
	<form>
		<div class="form-group {{errorClass 'housing'}}">
			<label for="housing">Housing</label>
				<select class="form-control" id="housing">
				<option value=""></option>
				{{#each housingList}}
					<option value="{{title}}">{{title}}</option>
				{{/each}}
				<option disabled value=""><b>Mount Vernon Housings</b></option>
				{{#each vernHousingList}}
					<option value="{{title}}">{{title}}</option>
				{{/each}}
			</select>
			<span class="help-block">{{errorMessage 'housing'}}</span>
		</div>
		<div class="form-group {{errorClass 'category'}}">
			<label for="category">What would you like to comment about?</label>
			<select class="form-control" id="category">
				<option value=""></option>
				<option value="General">General</option>
				<option value="Furnishings">Furnishings</option>
				<option value="Services">Services</option>
				<option value="Atmosphere">Atmosphere</option>
			</select>
			<span class="help-block">{{errorMessage 'category'}}</span>
		</div>
		<div class="form-group {{errorClass 'rating'}}">
			<label for="rating">How many stars would you like to give it?</label>
			<select class="form-control" id="rating">
				<option value=""></option>
				<option value="1">&#9734;</option>
				<option value="2">&#9734;&#9734;</option>
				<option value="3">&#9734;&#9734;&#9734;</option>
				<option value="3">&#9734;&#9734;&#9734;&#9734;</option>
				<option value="5">&#9734;&#9734;&#9734;&#9734;&#9734;</option>
			</select>
			<span class="help-block">{{errorMessage 'rating'}}</span>
		</div>
		<div class="form-group {{errorClass 'comment'}}">
			<label for="rating">Comment</label>
			<textarea class="form-control" rows="1" cols="50" wrap="physical" style="height:80px;" id="comment"></textarea>
			<span class="help-block">{{errorMessage 'comment'}}</span>
		</div>
		<input type="submit" value="Submit" class="btn btn-primary"/>

	</form>
</template>
