<template name="profile">
	<div class="container">
		<h1>Welcome</h1>
        <div class="row">
        	 <div class="col-md-6">
            <h2>Your Profile</h2>
            <div class="panel panel-default">
  			<div class="panel-body">
    			<div class="col-md-6">



                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Upload a new Profile Photo</h4>
                      </div>
                    <div class="modal-body">

                      <input type="file" name="photo" class="myFileInput">
                      <br>

                      <button id="uploadPhoto" type="button" class="btn btn-info">Upload</button>

                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                  </div>
                </div>


              		<img id="profile-img" src="{{getImage}}" alt="profile-picture" width="170" height="250">

              		<br><br>
              		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
                  Upload Photo
                  </button>


          	  	</div>
          	  	<div class="col-md-6">

                  <!-- Modal -->
                    <div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Your Information</h4>
                          </div>
                        <div class="modal-body">

                          <div class="form-group">

                            <input type="text" class="form-control" id="name" placeholder="Name">
                            <br>
                            <input type="text" class="form-control" id="school" placeholder="School">
                            <br>
                            <input type="text" class="form-control" id="major" placeholder="Major">
                            <br>
                            <input type="text" class="form-control" id="year" placeholder="Year">
                            <br>
                            <input type="text" class="form-control" id="favoritePlace" placeholder="Favorite Place on Campus">
                            <br>
                            <input type="text" class="form-control" id="favoritePart" placeholder="Favorite Part About Life">
                          </div>

                          <button id="uploadInfo" type="button" class="btn btn-info">Submit</button>

                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                      </div>
                    </div>

              		<div id="name">
              			<b>Name: </b>{{getName}}
              		</div>
              		<br>
              		<div id="school">
              			<b>School: </b>{{getSchool}}
              		</div>
              		<br>
              		<div id="major">
              			<b>Major: </b>{{getMajor}}
              		</div>
              		<br>
              		<div id="year">
              			<b>Year: </b>{{getYear}}
              		</div>
              		<br>
              		<div id="place">
              			<b>Favorite Place on Campus: </b>{{getFavoritePlace}}
              		</div>
              		<br>
              		<div id="place">
              			<b>Favorite Part About Life: </b>{{getFavoritePart}}
              		</div>
              		<br>
              		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#userInfo">Change Profile Information </button>


          	  	</div>

          	</div>
  			</div>
		</div>
		<div class="col-md-6">
            <h2>Your Life</h2>


             <!-- Modal -->
              <div class="modal fade" id="timeLine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Your TimeLine</h4>
                    </div>
                  <div class="modal-body">

                    <div class="form-group {{errorClass 'year'}}">
                      <input type="text" class="form-control" id="eventYear" placeholder="Event Year"/>
                      <span class="help-block">{{errorMessage 'year'}}</span>
                    </div>
                    <div class="form-group {{errorClass 'event'}}">
                      <input type="text" class="form-control" id="event" placeholder="Event">
                      <span class="help-block">{{errorMessage 'event'}}</span>
                    </div>

                    <button id="uploadEvent" type="button" class="btn btn-info">Add Event</button>

                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
                </div>
              </div>

            <div class="panel panel-default">
  				<div class="panel-body" id="events">

  				<ul class="list-group" id="lifeEvents">

					</ul>

					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#timeLine">Change Major Life Events</button>
  				</div>

  			</div>

        </div>
        </div>

       	<div class="row">
        	<div class="col-md-8">
						  {{> errors }}
            	<h2>Your Ratings</h2>
            	<div class="panel panel-default">
  					<div class="panel-body">
							<div class="btn-group" role="group" aria-label="...">
							  <button type="button" class="btn btn-info" id="userSchoolRatings">School</button>
							  <button type="button" class="btn btn-info" id="userHousingRatings">Housing</button>
							  <button type="button" class="btn btn-info" id="userDiningRatings">Dining</button>
								<button type="button" class="btn btn-info" id="userLibraryRatings">Library</button>
								<button type="button" class="btn btn-info" id="userStudentLifeRatings">Student Life</button>
							</div>
							<br><br>
  						<table class="table table-striped" id="userRatings">
  							<thead>
 							<tr>
 								<td>Location</td>
 								<td>Category</td>
 								<td>Rating</td>
 								<td>Comment</td>
                <td>Share</td>
 							</tr>
 							</thead>
 							<tbody>

 							</tbody>
						</table>
  					</div>
  				</div>
		  	</div>
			<div class="col-md-4">
            	<h2>Your Dashboard</h2>
                    <!-- Modal -->
                    <div class="modal fade" id="shareRating" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Share Your Rating</h4>
                                </div>
                            <div class="modal-body">

                                <div class="form-group {{errorClass 'name'}}">
                                    <ul class="list-group" id="ratingInfo">
                                        <li class="list-group-item">Location: {{getRatingLocation}}</li>
                                        <li class="list-group-item">Category: {{getRatingCategory}}</li>
                                        <li class="list-group-item">Rating: {{getRatingRating}}</li>
                                        <li class="list-group-item">Comment: {{getRatingComment}}</li>
                                    </ul>

                                    <input type="text" class="form-control" id="recipientName" placeholder="Recipient Name">
                                    <span class="help-block">{{errorMessage 'name'}}</span>
                                </div>
                                <div class="form-group {{errorClass 'email'}}">
                                    <br>
                                    <input type="email" class="form-control" id="recipientEmail" placeholder="Recipient Email">
                                    <span class="help-block">{{errorMessage 'email'}}</span>
                                </div>

                                <button id="sendEmail" type="button" class="btn btn-info">Share</button>

                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
            		<div class="panel panel-default">
  						<div class="panel-body">
									<h5>Points: {{ getPoints }}</h5>
									<h5>Title: {{ getTitle }}</h5>
									<h5>Ratings Posted: {{ getRatingsPosted }}</h5>
									<h5>Ratings Shared: {{ getRatingsShared }}</h5>
									<h5>Ratings Recommended: {{ getRatingsRecommended }}</h5>
                  <!-- Modal -->
                  <div class="modal fade" id="recommend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  <h4 class="modal-title" id="myModalLabel">Recommend a Location</h4>
                              </div>
                          <div class="modal-body">

                              <div class="form-group {{errorClass 'rName'}}">
                                  <input type="text" class="form-control" id="recommendRecipientName" placeholder="Name">
                                  <span class="help-block">{{errorMessage 'rName'}}</span>
                              </div>
                              <div class="form-group {{errorClass 'rEmail'}}">
                                  <input type="email" class="form-control" id="recommendRecipientEmail" placeholder="Email">
                                  <span class="help-block">{{errorMessage 'rName'}}</span>
                              </div>
                                  <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active" id="schoolOption">
                                      <input type="radio" name="options" checked>School
                                    </label>
                                    <label class="btn btn-primary" id="housingOption">
                                      <input type="radio" name="options" autocomplete="off">Housing
                                    </label>
                                    <label class="btn btn-primary" id="diningOption">
                                      <input type="radio" name="options" autocomplete="off">Dining
                                    </label>
																		<label class="btn btn-primary" id="libraryOption">
                                      <input type="radio" name="options" autocomplete="off">Library
                                    </label>
																		<label class="btn btn-primary" id="studentLifeOption">
																			<input type="radio" name="options" autocomplete="off">Student Life
																		</label>
                                  </div>
                                  <br><br>
                                  <div class="form-group {{errorClass 'location'}}">

                                    <select class="form-control" id="recommendLocation">
                                    </select>

                                    <span class="help-block">{{errorMessage 'location'}}</span>
                                  </div>
                                  <br>
                                  <div class="form-group {{errorClass 'message'}}">
                                    <textarea class="form-control" rows="1" cols="50" wrap="physical" style="height:80px;" id="recommendMessage"></textarea>
                                    <span class="help-block">{{errorMessage 'message'}}</span>


                                  </div>

                              <button id="recommendEmail" type="button" class="btn btn-info">Recommend to Friend</button>

                          </div>
                          <div class="modal-footer">
                          </div>
                      </div>
                  </div>
                </div>

  							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#recommend">Recommend Someone</button>
  						</div>
  					</div>

        	</div>
        </div>
	</div>
</template>
