<template name="rateStudentLifeForm">
	<form>
		<div class="form-group {{errorClass 'studentLife'}}">
			<label for="studentLife">Location</label>
				<select class="form-control" id="studentLife">
					<option value=""></option>
					<option value="Marvin Center">Marvin Center</option>
					<option value="Welcome Center">Welcome Center</option>
					<option value="Colonial Health Center">Colonial Health Center</option>
					<option value="Buff & Blue">Buff & Blue</option>
					<option value="Charles E. Smith Center">Charles E. Smith Center</option>
					<option value="Kogan Plaza">Kogan Plaza</option>
					<option value="Heath & Wellness Center">Heath & Wellness Center</option>
					<option value="Lisner Auditorium">Lisner Auditorium</option>
					<option value="University Museum/TextileMuseum">University Museum/TextileMuseum</option>
					<option value="Anniversary Park">Anniversary Park</option>
					<option value="University Yard">University Yard</option>
				</select>
				<span class="help-block">{{errorMessage 'studentLife'}}</span>
		</div>
		<div class="form-group {{errorClass 'category'}}">
			<label for="category">What would you like to comment about?</label>
			<select class="form-control" id="category">
				<option value=""></option>
				<option value="General">General</option>
				<option value="Space">Space</option>
				<option value="Recreation&#47;Entertainment">Recreation&#47;Entertainment</option>
				<option value="Atmosphere">Atmosphere</option>
			</select>
			<span class="help-block">{{errorMessage 'category'}}</span>
		</div>
		<div class="form-group {{errorClass 'rating'}}">
			<label for="rating">How many stars would you like to give it?</label>
			<select class="form-control" id="rating">
				<option value=""></option>
				<option value="1">&#9734;</option>
				<option value="2">&#9734;&#9734;</option>
				<option value="3">&#9734;&#9734;&#9734;</option>
				<option value="3">&#9734;&#9734;&#9734;&#9734;</option>
				<option value="5">&#9734;&#9734;&#9734;&#9734;&#9734;</option>
			</select>
			<span class="help-block">{{errorMessage 'rating'}}</span>
		</div>
		<div class="form-group {{errorClass 'comment'}}">
			<label for="rating">Comment</label>
			<textarea class="form-control" rows="1" cols="50" wrap="physical" style="height:80px;" id="comment"></textarea>
			<span class="help-block">{{errorMessage 'comment'}}</span>
		</div>
		<button type="button" class="btn btn-primary" id="submitRating">Submit</button>

	</form>
</template>
